.topo{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}
.topo ion-icon{
    font-size: 50px;
}
.topo img{
    width: 75px;
}

.conversa{
    height:100px;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
    background-color: #ffffff;
}

.footer ion-icon{
    font-size: 25px;
}
.batepapo{
    width: 100%;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.usuario{
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    height: 40px;
    border-radius: 2px;
    font-size: 14px;
    flex-wrap: wrap;
    word-wrap:break-word;
    
}

.usuario div{
    margin-left: 4px;
}
.hora{
    margin: 4px 4px 8px 9px;
    color: #aaaaaa;
}

.from, .destinatario{
    font-weight: 700;
}

.status {
    background-color: #DCDCDC;
}

.texto{
    flex-wrap: wrap;
    word-wrap: break-word;
}

.container1 img{
    width: 130px;
}