body{
    font-family: 'Roboto', sans-serif;
}


.topo{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}
.topo ion-icon{
    font-size: 50px;
    margin-right: 40px;
}
.topo img{
    width: 75px;
}

.conversa{
    height:100px;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
    background-color: #ffffff;
}

.footer ion-icon{
    font-size: 25px;
    margin-right: 40px;
}
.batepapo{
    width: 100%;
    margin-bottom: 120px;
    flex-wrap: wrap;
    
}

.usuario{
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    height: 100%;
    border-radius: 2px;
    font-size: 14px;
    flex-wrap: wrap;
    word-wrap:break-word;
    align-items: center;
    
}

.usuario div{
    margin-left: 4px;
}
.hora{
    margin: 4px 4px 8px 9px;
    color: #aaaaaa;
    height: 40px;
    display: flex;
    align-items: center;
}

.from, .destinatario{
    font-weight: 700;
    height: 40px;
    display: flex;
    align-items: center;
}

.status {
    background-color: #DCDCDC;
}

.texto{
    flex-wrap: wrap;
    word-wrap: break-word;
}

.container2{
    width: 100%;
}

.container1, .container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fechar{
    display: none;
}

.container1 img, .container3 img{
    width: 130px;
    margin-top: 72px ;
    margin-bottom: 50px;
}

.container1 input{
    font-size: 14px;
    color: #aaaaaa;
    display: flex;
    text-align: center;
    height: 54px;
    width: 260px;
    
}

.entrar{
    height: 45px;
    width: 109px;
    background-color: lightgrey;
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reservado{
    background-color: pink;
}

.chat{
    background-color: transparent;
    border: 0px solid;
    height: 60px;
    width: 100px;
    font-size: 18px;
    color: black;
}
textarea:focus, input:focus{
    outline: none;
}


.entrada{
    border: 1px solid #D7D7D7;
    border-radius: 9px;
}